@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: rgb(228, 222, 216);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

body {
  background-color: var(--eggshell);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 124px 0;
}
body .card {
  width: 736px;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--white);
  border-radius: 20px;
}
body .card img {
  border-radius: 12px;
  width: 100%;
}
body .card h1 {
  font-size: 45px;
  font-family: "Young Serif", serif;
  font-weight: 500;
  margin: 20px 0;
}
body .card p {
  font-family: "Outfit", sans-serif;
  line-height: 24px;
}
body .card .time {
  border-radius: 12px;
  background-color: var(--rose-white);
  padding: 30px;
  margin: 32px 0;
}
body .card .time h3 {
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: 1%;
  color: var(--dark-raspberry);
}
body .card .time ul {
  margin-top: 20px;
  padding-left: 16px;
}
body .card .time ul li {
  padding-left: 20px;
  margin-bottom: 20px;
  font-family: "Outfit", sans-serif;
  letter-spacing: 2%;
  color: var(--wenge-brown);
}
body .card .time ul li span {
  font-weight: 600;
}
body .card .time ul li:last-child {
  margin-bottom: 0;
}
body .card .time ul li::marker {
  color: var(--dark-raspberry);
}
body .card .ingredients h2 {
  font-family: "Young Serif", serif;
  font-weight: 500;
  color: var(--nutmeg);
}
body .card .ingredients ul {
  margin-top: 20px;
  padding-left: 20px;
}
body .card .ingredients ul li {
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: "Outfit", sans-serif;
  letter-spacing: 2%;
  color: var(--wenge-brown);
}
body .card .ingredients ul li:last-child {
  margin-bottom: 0;
}
body .card .ingredients ul li::marker {
  color: var(--dark-raspberry);
}
body .card hr {
  margin: 30px 0;
  color: var(--light-grey);
}
body .card .instructions h2 {
  font-family: "Young Serif", serif;
  font-weight: 500;
  color: var(--nutmeg);
}
body .card .instructions ol {
  margin-top: 20px;
  padding-left: 20px;
}
body .card .instructions ol li {
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: "Outfit", sans-serif;
  letter-spacing: 2%;
  color: var(--wenge-brown);
}
body .card .instructions ol li span {
  font-weight: 600;
}
body .card .instructions ol li:last-child {
  margin-bottom: 0;
}
body .card .instructions ol li::marker {
  color: var(--dark-raspberry);
  font-weight: 600;
}
body .card .nutrition h2 {
  font-family: "Young Serif", serif;
  font-weight: 500;
  color: var(--nutmeg);
}
body .card .nutrition p {
  margin: 20px 0;
  color: var(--wenge-brown);
}
body .card .nutrition table {
  border-collapse: collapse;
  width: 100%;
}
body .card .nutrition table tr:first-child td {
  padding: 0 32px;
  padding-bottom: 16px;
}
body .card .nutrition table tr {
  border-bottom: 1px solid var(--light-grey);
}
body .card .nutrition table tr td {
  font-family: "Outfit", sans-serif;
  color: var(--wenge-brown);
  text-align: left;
  padding: 16px 32px;
}
body .card .nutrition table tr td:last-child {
  font-weight: 600;
  color: var(--dark-raspberry);
}
body .card .nutrition table tr:last-child {
  border-bottom: none;
}
body .card .nutrition table tr:last-child td {
  padding: 0 32px;
  padding-top: 16px;
}/*# sourceMappingURL=style.css.map */