:root {

    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 12px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}