@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');


$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);
$gradient: 135deg from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
$gradient1: 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;

    section {



        .box-container {
            display: flex;

            .left {
                width: 60%;
                padding-left: 165px;
                padding-right: 220px;

                img {
                    margin-top: 65px;
                    margin-bottom: 140px;
                }

                h1 {
                    color: $dark-grayish-red;
                    font-size: 50px;
                    text-transform: uppercase;
                    line-height: 1.2;
                    letter-spacing: 15px;

                    span {
                        color: $desaturated-red;
                        font-weight: 300;
                    }
                }

                p {
                    color: $desaturated-red;
                    line-height: 1.5;
                    margin: 44px 0px 50px 0px;
                }

                form {
                    .form-group {
                        margin-top: 2.5rem;
                        height: 3rem;
                        position: relative;

                        input {
                            border: 1px solid $soft-red;
                            border-radius: 2rem;
                            color: $soft-red;
                            padding: 0.2rem 1.5rem;
                            height: 100%;
                            width: 100%;
                        }

                        .icon-error {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 5.8rem;
                            display: none;
                        }

                        button {
                            background: linear-gradient(90deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
                            border: 0;
                            border-radius: 2rem;
                            box-shadow: 0 5px 20px 3px hsl(0, 80%, 86%);
                            position: absolute;
                            height: 100%;
                            width: 5rem;
                            top: 0;
                            right: 0;
                            cursor: pointer;
                        }
                    }
                }
            }

            .right {
                background: url("../images/hero-desktop.jpg");
                width: 50%;
                // height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 12px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}